p{
    /* text-align: right; */
    text-align: center;/
    /* text-align: left; */
}

h3{
    /* text-align: start; */
    /* text-align: end; */
    /* text-align: justify; */
    text-align: initial;
}

h1{
    font-weight: 100;
}
h2{
    font-weight: 300;
}
h3{
    font-weight: 900;
}

p{
    font-size: 25;
}

#idx{
    font: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
#myId{
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    text-transform: none;
}