<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <!-- bean definitions here -->
    
    <bean class="in.sp.beans.Address" id="addId">
    	<property name="houseno" value="111" />
    	<property name="city" value="Siwan" />
    	<property name="pincode" value="841416" />
    </bean>
    
     <bean class="in.sp.beans.Address" id="addId1">
    	<property name="houseno" value="1111" />
    	<property name="city" value="Madarpur" />
    	<property name="pincode" value="841418" />
    </bean>
    
    <bean class="in.sp.beans.Student" id="stdId">
    	<property name="name" value="Mister" />
    	<property name="rollno" value="69" />
    	<property name="address" ref="addId" />
    </bean>
    
    <bean class="in.sp.beans.Student" id="stdId1">
    	<property name="name" value="Alex Carry" />
    	<property name="rollno" value="609" />
    	<property name="address" ref="addId1" />
    </bean>

</beans>