<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->
        
        <bean class="in.smart.programming.Student" id="stdId">
        	<property name="rollNo" value="69"></property>
        	<property name="name" value="Shamshad ALi"></property>
        	<property name="branch" value="Computer Science Engineering"></property>
        	<property name="cgpa" value="8.08"></property>
        </bean>
        
        
        <bean class="in.smart.programming.Student" id="stdId2">
        	<property name="rollNo" value="100"></property>
        	<property name="name" value="Manish Kumar"></property>
        	<property name="branch" value="Civil Engineering"></property>
        	<property name="cgpa" value="8.90"></property>
        </bean>

</beans>