<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="in.sp.beans.Address" id="address">
    	<property name="houseno" value="111" />
    	<property name="city" value="Madarpur" />
    	<property name="district" value="Siwan" />
    </bean>

	<bean class="in.sp.beans.Student" id="stdId" autowire="byName">
    	<property name="name" value="Mister Kumar" />
    	<property name="fees" value="3000" />
    <!-- <property name="address" ref="addr" />  -->
    </bean>
	
</beans>